@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;600&display=swap');
:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 85% 100%;
    background-position: left;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    width: 1280px;
    height: 695px;
    margin: 10px 50px;
    animation: show 1s;
    -webkit-animation: show 1.5s;
}
.hero {
    display: flex;
    align-items: center;
}
.img-div {
    width: 55%;
}
.logo {
    width: 200px;
    animation: toptobottom 5s infinite;
    -webkit-animation: toptobottom 5s infinite;
}
.hero-img {
    margin-top: 75px;
    width: 100%;
    animation: show1 2s;
    -webkit-animation: show1 2s;
}
.discription {
    padding:10px 15px 0 50px;
    width: 45%;
}
h1 {
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    width: 90%;
    line-height: 50px;
}
p {
    margin-top: 35px;
    color: var(--white);
    width: 100%;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
button {
    color: var(--violet);
    padding: 15px 70px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 4px 15px 0px rgb(62, 62, 62);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    animation: toptobottom 4s infinite;
    -webkit-animation: toptobottom 10s infinite;
}
button:hover {
    background-color: var(--soft-magenta);
    color: var(--white);
}
.social {
    float: right;
}
.social>ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
}
.fa-facebook-f, .fa-twitter, .fa-instagram {
    height: 18px;
    width: 18px;
    padding: 10px;
    margin-left: 20px;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover {
    color: var(--soft-magenta);
    border: 1px solid var(--soft-magenta);
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -o-transform:translateY(-10px);
}

/* Animation */

@keyframes toptobottom {
    0% {
        opacity: 0.8;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    100% {
        opacity: .8;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
@keyframes show {
    from {
        opacity: 0;
        /* transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95); */
    }
}
@keyframes show1 {
    from {
        opacity: 0;
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
    }
}

/* Responsive part */

@media only screen and (max-width: 900px) {
    body {
        background-image: url(images/bg-mobile.svg);
        background-size: 100%;
        background-position: top;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    main {
        width: 85%;
        height: auto;
        margin: 30px 0 0 0;
    }
    .hero {
        display: flex;
        flex-direction: column;
    }
    .img-div {
        width: 100%;
    }
    .logo {
        width: 135px;
        animation: none;
        -webkit-animation: none;
    }
    .hero-img {
        margin-top: 50px;
        width: 100%;
        animation: show1 2s;
        -webkit-animation: show1 2s;
    }
    .discription {
        padding: 0px;
        width: 100%;
    }
    h1 {
        font-size: 26px;
        font-weight: 600;
        padding-top: 50px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        margin: auto;
    }
    p {
        margin-top: 20px;
        text-align: center;
        width: 95%;
        font-size: 16px;
        margin: 20px auto;
        line-height: 25px;
    }
    button {
        color: var(--violet);
        padding: 12px 75px;
        margin: auto;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        animation: none;
        -webkit-animation: none;
    }
    .btn {
        width: fit-content;
        margin: auto;
    }
    .social {
        float: left;
        width: 100%;
        margin: auto;
    }
    .social>ul {
        justify-content: center;
        margin-top: 60px;
        margin-right: 0px;
    }
    .fa-facebook-f, .fa-twitter, .fa-instagram {
        height: 15px;
        width: 15px;
        padding: 5px;
        margin: 10px;
        margin-left: 0px;
    }

}
